<script src="/themes/site_themes/keithbartholomew/js/jquery.fancybox.js"></script>
<script src="/themes/site_themes/keithbartholomew/js/plugins.js"></script>
<script src="/themes/site_themes/keithbartholomew/js/affix.js"></script>
<style type="text/css">
   @media only screen and (min-width:977px){#popular-posts.affix {position: fixed; top: 10px; width: 306px; }}
</style>
<script src="/themes/site_themes/keithbartholomew/js/helper.js"></script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21431284-1']);
  _gaq.push(['_setCampNameKey', 'vn']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
