@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text-background: #111133;
  --color-text-foreground: #eeeeff;

  --color-box-border: var(--color-text-foreground);
}

body,
html {
  @apply text-slate-100;
  @apply bg-slate-900;
  font-family: "Consolas", "Menlo", "Monaco", "Courier New", Courier, monospace;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  margin: 0;
}

h1 {
  @apply p-4;
  @apply mb-8;
  @apply text-slate-900;
  @apply bg-slate-100;
}

h2 {
  @apply border;
  @apply border-solid;
  @apply border-slate-100;
  @apply p-4;
  @apply mb-4;
}

h3 {
  border-bottom: solid 1px;
  @apply border-slate-100;
  @apply mb-4;
  @apply p-2;
}

h4 {
  border-left: solid 0.5rem;
  @apply border-green-400;
  @apply mb-2;
  @apply px-2;
}

p {
  @apply mb-8;
}

code {
  @apply text-emerald-200;
  @apply bg-slate-800;
  @apply rounded-sm;
  @apply p-1;
}

a {
  @apply text-blue-400;
}

a:hover,
a:active {
  @apply underline;
}

ul, ol {
  @apply mb-8;
  @apply pl-8;
}

ul {
  list-style-type: square;
}

ol {
  list-style-type: decimal;
}

blockquote {
  @apply bg-slate-800;
  @apply border-emerald-600;
  @apply border-l-[1ch];
  @apply mb-8;
  @apply p-4;
}

blockquote > :last-child {
  @apply mb-0;
}