@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:400,700);

body {
  background: #002b36;
  color: #839496;
  font-family: 'Source Code Pro', 'Monaco', 'Consolas', 'Courier New', monospace;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

a {
  color: #268bd2;
  text-decoration: none;
}

a:visited {
  color: #268bd2;
}

a:hover, a:focus {
  text-decoration: underline;
}
