{embed="embeds/html_header"}
{embed="embeds/branding_header"}
  <div class="container">
    <div class="wrap">
      <div class="col940">
        <h2>Portfolio</h2>
	<div id="portfolio-items">
      	{exp:channel:entries channel="work" limit="10"}
	<div class="portfolio-item">
          <div class="title">
            {if link_to_project != ""} 
            <a href="{link_to_project}" target="_blank">{title}</a>
            {if:else}
              {title}
            {/if}
          </div>
          {if thumbnail_type == "Image"}
          <a class="thumbnail-image" href="{full_size_image}">
            <img src="{thumbnail_image}" class="clear" />
            <div class="thumbnail-cover">See More</div>
          </a>
          {/if}
          {if thumbnail_type == "Video"}
          <a href="{thumbnail_image}">
            <video autoplay loop style="width: 100%;">
              <source src="{thumbnail_image}" />
            </video>
          </a>
          {/if}
          <div class="thumbnail-info"></div>
          <div class="description">
            {brief_description}
          </div>
        </div>
        {/exp:channel:entries}
	</div>
      </div>
    </div>
  </div>
{embed="work/masonry"}
{embed="embeds/html_close"}