@import "colors";

$font-monospace: "source code pro", monaco, menlo, "courier new", courier, monospace;
$font-sans: Helvetica, Arial, sans-serif;

@import "nojs";
@import "xterm";
@import "app-window";

body, html {
  background: #002b36;
  font-family: $font-sans;
  font-size: 15px;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
