@import "colors";
@import "xterm";
@import "app-window";

body, html {
  background: #002b36;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}
